@font-face {
  font-family: 'AmazonFont';
  src: url('./fonts/amazon.woff2') format('woff2');
}

@font-face{
  font-family: 'AmazonFontBold';
  src: url('./fonts/amazonBold.woff2') format('woff2');
}

  b {
    font-family: 'AmazonFontBold', sans-serif;;
    font-weight: 700;
  }

  .flexBoxStart {
    padding: 35px 0px 0px 30px;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .AndyFlexBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .App {
    flex-direction: column;
    padding: 0 0 0 15px;
    flex-wrap: nowrap;
    font-family: 'AmazonFont';
    transition: transform .2s;
    width: 45%;
  }

 
  .main {
    display: flex;
    /* align-items: center; */
    transition: transform .2s;
    width: 33%;
    /* height: 33%; */
  }
  .photo-list {

    /* display:  flex;  */
    
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;    
    /* float: left; */
  }

.priceBox {
  display:flex;
}
.col1{
  padding: 0px 5px 0px 0px;
}
.fivepxLeft{
  padding: 0px 0px 0px 15px;
}

ul {
  list-style: none;
  margin: 0 0 0 18px;
  color: #111;
}

li::before {
  content: "•"; 
  color: #949494;
  display: inline-block; 
  width: 1em;
  margin-left: -1em
}


a, a:visited, a:active {
  color: #0066c0;
}

a:hover {
  color: darkorange
}

.icon-star {
  width: 80px;
  height: 18px;
}


.astar-05 {
  background-position: -238px -368px;
}
.astar-15 {
  background-position: -222px -368px;
}
.astar-25 {
  background-position: -205px -368px;
}
.astar-35 {
  background-position: -190px -368px;
}
.astar-45 {
  background-position: -175px -368px;
}

.astar-00 {
  background-position: -84px -368px;
}
.astar-10 {
  background-position: -68px -368px;
}
.astar-20 {
  background-position: -52px -368px;
}
.astar-30 {
  background-position: -36px -368px;
}
.astar-40 {
  background-position: -21px -368px;
}
.astar-50 {
  background-position: -6px -368px;
}

.dropDown {
  margin: 5px 0 0 .385em;
  vertical-align: text-top;
  width: 7px;
  height: 5px;
  background-position: -90px -5px;
  opacity: .6;
}

.dropDown:hover {
  opacity: 1
}

.size-medium {
  text-rendering: optimizeLegibility;
  font-size: 17px!important;
  line-height: 1.255!important;
}


.colorGreen {
  color: #008a00!important;
}

.colorGray {
  color: #555!important
}
.colorRed {
  color:#B12704!important
}
.amazon-icon {
    background-image: url(./Images-To-Redis/ShamazonIcons.png);
    -webkit-background-size: 400px 900px;
    background-size: 400px 900px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.ifItemPrimeImage {
    background-image: url(./Images-To-Redis/ShamazonIcons.png);
    height: 15px;
    width: 54px;
    background-position: -5px -490px;
    vertical-align: baseline;
}

.Title {
  font-size: 21px!important;
  line-height: 1.3!important;
  box-sizing: border-box;
  font-weight: 400;
}






.photo {
  height: 4em;
  border-radius: 3px;
}

.photo:hover {
  box-shadow: 0px 1px 8px 1px #f89820;  
  border: 1px solid #f89820;
}

.modalContainer {
  display: flex;
}

.modalDivName {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  font-size: 20px;
  font-family: helvetica;
}

.modalDivDescription {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  font-family: helvetica;
  font-size: 140px;
  color: red;
}

.modalPic {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}

.modalListContainer {
  display: flex;
}



.description {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: helvetica;
  color: rgb(102, 101, 101)
}

.close {
  position: relative;
  float: right;
  border: 1px solid white;
}


.zoom {
  margin: 0 auto;
  text-align: center;
  /* align-items: baseline; */

}

.zoom:hover {
  text-align: center;
  
  /* transform: scale(1.25);  */
}

.zoomImage {
  /* align-self: baseline; */
  height: 15em;
  padding-left: 5px;
  
  border-radius: 5px;
}

.shamazon {
  height: 3em;
}

.perimeter {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.image {
  flex: 0 0 100%;
}

.copy {
  padding: 20px;
  font-family: sans-serif;
}

@media (min-width: 415px) {
  .perimeter {
    flex-direction: row;
  }
  
  .image {
    flex: 0 0 50%;
  }
}

@media (min-width: 800px) {
  .image {
    flex: 0 0 33.5%;
  }
}


.HeaderImage {
  background-image: url(./Images-To-Redis/ShamazonHeader.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: auto;
  height: 175px;
  margin: 0 auto;
  max-height: 100%;
}

.HaveQuestion {
  background-image: url(./Images-To-Redis/HaveQuestion.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: auto;
  height: 200px;
  margin: 0 auto;
  max-height: 100%;
}

.FrequentlyBought {
  background-image: url(./Images-To-Redis/FrequentlyBought.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: auto;
  height: 340px;
  margin: 0 auto;
  max-height: 100%;
}

.FooterImage {
  background-image: url(./Images-To-Redis/FooterImage.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  height: 900px;
  margin: 0 auto;
  max-height: 100%;
}
.PurchaseImage {
  display: flex;
  background-image: url(./Images-To-Redis/PurchaseImage.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: 33%;
  height: 700px;
}


.relatedProducts {
  display: inline-block;
  height: 250px;
  position: relative;
  width: 98vw;
}

.inner {
  padding: 10px;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.goLeft, .goRight {
  background-color: #eeeeee;
  border: 1px solid #333333;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
	top: 90px;
  bottom: 90px;
  max-height: 50px;
	width: 3em;
}

.goRight {
  right: 0;
}

.rightArrow {
  display: inline-block;
  background: url('./images/AmazonUIBaseCSS-sprites.png') -210px -10px;
  width:22px;
  height: 35px;
  margin: 0 auto;
}

.leftArrow {
  display: inline-block;
  background: url('./images/AmazonUIBaseCSS-sprites.png') -245px -12px;
  width:22px;
  height: 35px;
  margin: 0 auto;
}

.goLeft {
  left: 0;
}